# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Environment and dependency files
.venv/
env/
*.egg-info/
pip-log.txt

# Streamlit secrets
.env
.streamlit/secrets.toml

# Databases and local data
*.db
*.sqlite
*.log
data/
*.json

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db